.rating-group {
  display: none;
}

/* Sidebar Styling */
.nav-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem; 
  font-weight: 500;
  color: #4b5563;
}

.nav-item:hover {
  background-color: #eef2ff; 
  color: #4f46e5; 
}

.active-module {
  background-color: #4f46e5 !important; 
  color: white !important;
  font-weight: 600;
}

.form-field-wrapper input,
.form-field-wrapper textarea,
.form-field-wrapper select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
}

#feedback-comment-wrapper textarea {
  min-height: 100px !important;
  box-sizing: border-box !important;
}

.wide-table {
  min-width: 650px;
  width: 100%;
}

.module-content-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#app-container {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#content-container {
  width: 100%;
}
@media (min-width: 768px) {
  #sidebar {
    height: 100vh;
    top: 0;
  }
}
